
h2,h1{
    text-align:center;
}


footer{
	position: center;
	bottom:0px;
	width:100%;
	background:#ece9cb;
	margin-top:0px;
	margin-bottom:10px;
    text-align:center;
	z-index:1000;
	
}


tr,th{
	text-align:left;
}

td{
    text-align:left;
}
main{
    padding-bottom:200px;
}