



.cajaAreas {
    float: left;
    width: 40%;
    height: 500px;
    border-bottom: 3px;
    border-color: #3cab63;
    font-size: 18px;
    margin-bottom: 5%;
}

    .cajaAreas figure img {
        width: 150px;
        width: 100%;
        height: 250px;
    }

    .cajaAreas h1 {
        color: white;
        background-color: #006699;
        height: 4%;
    }
    .cajaAreas {
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding:30px 10px 22px 2px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
    height: 30%;
    width:30%;
    float: left;
}

   
    


/*estilo pie de pagina*/


footer{
    position: center;
    margin-top:0px;
	margin-bottom:10px;
    height:200px;
    float: left;
    width: 100%;
    background:#ece9cb;
    text-align:center;
	z-index:1000;
	
}

