footer {
    position: center;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 200px;
    float: left;
    width: 100%;
    background: #ece9cb;
    text-align: center;
    z-index: 1000;
}  
main{
    margin-bottom:200px;
}
#submenu{
	border-style: dotted;
	border-width: 1px;
	border-color:#ce5f2d;
	border-radius: 15px;
	padding:1%;
}