body {
    width:90%;
	margin:0 auto;
	font-family:'grundRegular';
}
nav ul{
	list-style:none;
}

nav ul li{
	display:block;
    
}

.navlink{
	height:35px;
	margin-right:10px;
	font-size:18px;
	padding-top:12px;
	color:black;
	text-decoration:none;
	float:left;

}

.navlink:hover{/*cambia el boton*/
	    font-size:14px;
	    color:#fbe083;	
}

#contenedor{
   overflow: hidden;
   width: 98%;
   border: 15px ;
   background-color: #f39600;
   padding: 10px;
}

.fondograndient{
background: rgba(140,59,21,1);
background: -moz-linear-gradient(top, rgba(140,59,21,1) 0%, rgba(112,72,69,1) 49%, rgba(168,150,158,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(140,59,21,1)), color-stop(49%, rgba(112,72,69,1)), color-stop(100%, rgba(168,150,158,1)));
background: -webkit-linear-gradient(top, rgba(140,59,21,1) 0%, rgba(112,72,69,1) 49%, rgba(168,150,158,1) 100%);
background: -o-linear-gradient(top, rgba(140,59,21,1) 0%, rgba(112,72,69,1) 49%, rgba(168,150,158,1) 100%);
/*background: -ms-linear-gradient(top, rgba(140,59,21,1) 0%, rgba(112,72,69,1) 49%, rgba(168,150,158,1) 100%);*/
background: linear-gradient(to bottom, rgba(140,59,21,1) 0%, rgba(112,72,69,1) 49%, rgba(168,150,158,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c3b15', endColorstr='#a8969e', GradientType=0 );
}



#tituloPagina {
    text-shadow: 2px 2px 1px #ddd;
    margin-left: 40%;
    text-align: center;
}

/*formulario estilos*/
.marco{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 35px 35px 10px;
    margin-top: 50px;
    margin-left:15%;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
    width:25%;
    float:left; 
    
}
fieldset{
border:none;
}
.marco label{
    display: block;
    font-weight: bold;
}
.marco div{
    margin-bottom: 15px;
}
.marco input[type='text'], .marco textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.marco input[type='text']:focus, .marco textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.marco input[type='reset']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.marco input[type='reset']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.marco input[type='reset']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}




/*pie de pagina*/

footer {
    position: center;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 200px;
    float: left;
    width: 100%;
    background: #ece9cb;
    text-align: center;
    z-index: 1000;
}  



tr , th{
	text-align:left;
}

td{
    text-align:left;
}